.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexrow > * {
  flex: 1;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.ryuutama.sheet .editable .rollable:hover {
  cursor: pointer;
}
.ryuutama.sheet .editable .rollable:hover h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}

.item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.item-list .item .item-name {
  color: #191813;
}
.item-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  line-height: 30px;
}
.item-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.item-list .item .item-name.rollable:hover .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.item-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}
.item-list .item .item-controls {
  flex: 0 0 68px;
}
.item-list .item .item-controls .item-control {
  color: #b5b3a4;
}
.item-list .item .item-controls .item-control a {
  text-align: center;
  font-size: 12px;
}
.item-list .item:last-child {
  border-bottom: none;
}

.character-sheet .character-types {
  flex-direction: column;
}
.character-sheet .character-types div {
  justify-content: space-between;
  flex: 2;
}

.chat-card {
  font-style: normal;
  font-size: 12px;
}
.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #ffffff;
  border-bottom: 2px groove #ffffff;
}
.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  color: #4b4a44;
}
.chat-card .card-header h3:hover {
  color: #111111;
  text-shadow: 0 0 10px red;
}
.chat-card .card-content {
  margin: 5px 0;
  border-bottom: 2px groove #ffffff;
}
.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#stats {
  display: grid;
  grid-template-columns: repeat(4, 3fr) 2fr;
}

.stat-item {
  display: flex;
  justify-content: center;
}

.stat-item.selected > .stat-box {
  background-color: #ff0;
}

.stat-box {
  display: flex;
  border: black 1px solid;
  height: 60px;
  width: 60px;
}

.skill-name {
  display: flex;
  cursor: pointer;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}

.skill-name h4 {
  line-height: 30px;
}

.skill-image,
.stat-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}

.sheet form {
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content .editor {
  height: 100%;
}

#statuses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*# sourceMappingURL=ryuutama.css.map */
