.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexrow > * {
  flex: 1;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.ryuutama.sheet .editable .rollable:hover {
  cursor: pointer;
}
.ryuutama.sheet .editable .rollable:hover h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}

.item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.item-list .item .item-name {
  color: #191813;
}
.item-list .item .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  line-height: 30px;
}
.item-list .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.item-list .item .item-name.rollable:hover .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.item-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}
.item-list .item .item-controls {
  flex: 0 0 68px;
}
.item-list .item .item-controls .item-control {
  color: #b5b3a4;
}
.item-list .item .item-controls .item-control a {
  text-align: center;
  font-size: 12px;
}
.item-list .item:last-child {
  border-bottom: none;
}

.ryuutama.sheet .editor.prosemirror {
  min-height: 150px;
}
.ryuutama.sheet img {
  background-color: var(--ryuutama-green);
}

.ryuutama.sheet.actor .window-content {
  background: none;
  background-color: white;
  border: 9px double black;
}
.ryuutama.sheet.actor .sheet-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.ryuutama.sheet.actor .sheet-header .profile-img {
  height: auto;
  margin: 0px;
}
.ryuutama.sheet.actor .sheet-header .hp,
.ryuutama.sheet.actor .sheet-header .mp {
  position: relative;
}
.ryuutama.sheet.actor .sheet-header .hp div,
.ryuutama.sheet.actor .sheet-header .mp div {
  position: absolute;
  top: 16px;
  left: 0;
  width: 200px;
  display: grid;
  grid-template-columns: 94px 106px;
}
.ryuutama.sheet.actor .sheet-header .hp div input,
.ryuutama.sheet.actor .sheet-header .mp div input {
  padding: 0;
  background: none;
  border: none;
  text-align: right;
  height: auto;
}
.ryuutama.sheet.actor .sheet-header .hp div input:hover, .ryuutama.sheet.actor .sheet-header .hp div input:focus,
.ryuutama.sheet.actor .sheet-header .mp div input:hover,
.ryuutama.sheet.actor .sheet-header .mp div input:focus {
  cursor: pointer;
  box-shadow: none;
}
.ryuutama.sheet.actor .sheet-header .hp meter,
.ryuutama.sheet.actor .sheet-header .mp meter {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  position: relative;
}
.ryuutama.sheet.actor .sheet-header .hp meter::-webkit-meter-bar,
.ryuutama.sheet.actor .sheet-header .mp meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 5px -5px #333 inset;
}
.ryuutama.sheet.actor .sheet-header .hp meter::-webkit-meter-optimum-value {
  background-color: var(--ryuutama-green);
}
.ryuutama.sheet.actor .sheet-header .mp meter::-webkit-meter-optimum-value {
  background-color: var(--ryuutama-blue);
}
.ryuutama.sheet.actor .character-types {
  flex-direction: column;
}
.ryuutama.sheet.actor .character-types div {
  justify-content: space-between;
  flex: 2;
}
.ryuutama.sheet.actor .stats {
  --size: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
  justify-items: center;
}
.ryuutama.sheet.actor .stats .stat-item {
  padding: 8px;
  text-align: center;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  position: relative;
}
.ryuutama.sheet.actor .stats .stat-item p {
  border-bottom: 1px solid;
  margin: 0.25em 0.85em;
}
.ryuutama.sheet.actor .stats .stat-item h2 {
  border: none;
}
.ryuutama.sheet.actor .stats .stat-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent url("static/icon.png") no-repeat top center/contain;
  z-index: 10;
}
.ryuutama.sheet.actor .stats .stat-item:hover {
  box-shadow: 0 0 8px var(--ryuutama-green);
}
.ryuutama.sheet.actor .stats .stat-item.selected {
  box-shadow: 0 0 8px var(--ryuutama-green);
}
.ryuutama.sheet.actor .stats .stat-roll {
  cursor: pointer;
}
.ryuutama.sheet.actor .stats .stat-roll:hover {
  text-shadow: 0 0 8px var(--ryuutama-green);
}

.ryuutama.sheet.item .window-content {
  background: none;
  background-color: white;
  border: 9px double black;
}

.chat-card {
  font-style: normal;
  font-size: 12px;
}
.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #ffffff;
  border-bottom: 2px groove #ffffff;
}
.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  color: #4b4a44;
}
.chat-card .card-header h3:hover {
  color: #111111;
  text-shadow: 0 0 10px red;
}
.chat-card .card-content {
  margin: 5px 0;
  border-bottom: 2px groove #ffffff;
}
.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

:root {
  --ryuutama-green: #adffbb;
  --ryuutama-blue: #adf3ff;
}

.stat-box {
  display: flex;
  height: 60px;
  width: 60px;
}

.skill-name {
  display: flex;
  cursor: pointer;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}

.skill-name h4 {
  line-height: 30px;
}

.skill-image,
.stat-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}

.sheet form {
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content .editor {
  height: 100%;
}

#statuses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*# sourceMappingURL=ryuutama.css.map */
