.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:420px;
	height:595px;
	position:absolute;
}.e1_9 { 
	width:420px;
	height:423px;
	position:absolute;
	left:0px;
	top:172px;
}.e1_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:420px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_145 { 
	width:420px;
	height:28px;
	position:absolute;
	left:0px;
	top:324px;
}.e1_144 { 
	background-color:rgba(200.81250607967377, 166.50703489780426, 166.50703489780426, 1);
	width:420px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.1_144 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_146 { 
	width:420px;
	height:28px;
	position:absolute;
	left:0px;
	top:233px;
}.e1_147 { 
	background-color:rgba(200.81250607967377, 166.50703489780426, 166.50703489780426, 1);
	width:420px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.1_147 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_15 { 
	width:420px;
	height:112px;
	position:absolute;
	left:0px;
	top:97px;
}.e1_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:394px;
	height:28px;
	position:absolute;
	left:10px;
	top:84px;
}.1_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:394px;
	height:28px;
	position:absolute;
	left:10px;
	top:56px;
}.1_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:394px;
	height:28px;
	position:absolute;
	left:10px;
	top:28px;
}.1_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_14 { 
	background-color:rgba(200.81250607967377, 166.50703489780426, 166.50703489780426, 1);
	width:420px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.1_14 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_13 { 
	width:400px;
	height:60px;
	position:absolute;
	left:10px;
	top:18px;
}.e1_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:97.03601837158203px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_7 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:97.03601837158203px;
	height:60px;
	position:absolute;
	left:100.98799133300781px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:97.03601837158203px;
	height:60px;
	position:absolute;
	left:201.97598266601562px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:97.03601837158203px;
	height:60px;
	position:absolute;
	left:302.9639587402344px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_5 { 
	background-color:rgba(171.06250405311584, 45.61666622757912, 45.61666622757912, 1);
	width:420px;
	height:47px;
	position:absolute;
	left:0px;
	top:125px;
}.e1_148 { 
	width:420px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:420px;
	height:125px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_149 { 
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:12px;
	top:12px;
}