<form>
  <div class="form-group">
    <label>{{localize "ryuutama.formula"}}</label>
    <input type="text" name="formula" value="{{formula}}" disabled />
  </div>
  <div class="form-group">
    <label>{{localize "ryuutama.bonus"}}</label>
    <input type="text" name="bonus" value="" placeholder="" />
  </div>
</form>