<form>
  <fieldset>
    {{#each stats as |stat id|}}
      <input type="radio" id="{{id}}" name="stat" value="{{id}}" />
      <label for="{{id}}">{{localize (concat "ryuutama.stats." id)}}</label>
    {{/each}}
  </fieldset>
</form>