<form>
  <div id="stats">
    {{#each stats as |stat id|}}
      <div class="stat-item" data-stat="{{id}}">
        <div class="stat-box">
          <h4>{{localize (concat "ryuutama.stats." id)}}</h4>
        </div>
      </div>
    {{/each}}
  </div>
</form>