// #actor {
//   @import "items.scss";
// }

.ryuutama.sheet.actor {
  .window-content {
    background: none;
    background-color: white;
    border: 9px double black;
  }

  .sheet-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    .profile-img {
      height: auto;
      margin: 0px;
    }
  }

  .character-types {
    flex-direction: column;

    div {
      justify-content: space-between;
      flex: 2;
    }
  }
}

.stats {
  --size: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
  justify-items: center;

  .stat-item {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    width: var(--size);
    height: var(--size);
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 8px var(--ryuutama-green);
    }

    &.selected {
      background-color: var(--ryuutama-green);
    }
  }

  .stat-roll {
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 8px var(--ryuutama-green);
    }
  }
}
