// #actor {
//   @import "items.scss";
// }

.ryuutama.sheet.actor {
  .window-content {
    background: none;
    background-color: white;
    border: 9px double black;
  }

  .sheet-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    .profile-img {
      height: auto;
      margin: 0px;
    }
  }

  .character-types {
    flex-direction: column;

    div {
      justify-content: space-between;
      flex: 2;
    }
  }

  .stats {
    --size: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    align-items: center;
    justify-items: center;

    .stat-item {
      padding: 8px;
      text-align: center;
      width: var(--size);
      height: var(--size);
      cursor: pointer;
      position: relative;

      p {
        border-bottom: 1px solid;
        margin: 0.25em 0.85em;
      }

      h2 {
        border: none;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: transparent url("static/icon.png") no-repeat top center /
          contain;
        z-index: 10;
      }

      &:hover {
        box-shadow: 0 0 8px var(--ryuutama-green);
      }

      &.selected {
        box-shadow: 0 0 8px var(--ryuutama-green);
      }
    }

    .stat-roll {
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 8px var(--ryuutama-green);
      }
    }
  }

  .conditions {
    .A {
      position: relative;

      div {
        position: absolute;
        // display: none;
        top: 16px;
        right: 138px;

        &:hover {
          display: block;
        }
      }
    }

    meter {
      width: 200px;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 3px;
      position: relative;
    }

    meter::-webkit-meter-bar {
      background: none; /* Required to get rid of the default background property */
      background-color: whiteSmoke;
      box-shadow: 0 5px 5px -5px #333 inset;
    }
  }
}
