<form class="{{cssClass}} flexcol" autocomplete="off">
  <header style="background-color: aqua;">
    <p>Fixed Header</p>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="magic">Magic</a>
    <a class="item" data-tab="bio">Bio</a>
  </nav>
  <section>
    <section>Skills</section>
    <section>Conditions</section>
    <section>Status Effects</section>
  </section>
</form>