<h2>{{localize "ryuutama.itemTypes.weapon"}}</h2>

<label for="system.price">{{localize 'ryuutama.item.price'}}</label>
<input name="system.price" type="number" value="{{system.price}}" placeholder="{{localize 'ryuutama.item.price'}}" />

{{> "ryuutama.active-effects" }}