// #actor-items {
//   .item {
//     background-color: blue;
//   }
// }

.ryuutama.sheet.item {
  .window-content {
    background: none;
    background-color: white;
    border: 9px double black;
  }
}
