@import "utils.scss";
@import "actor/actor.scss";
@import "item/items.scss";
@import "chat/card.scss";

:root {
  --ryuutama-green: #adffbb;
  --ryuutama-blue: #adf3ff;
}

.stat-box {
  display: flex;

  height: 60px;
  width: 60px;
}

.skill-name {
  display: flex;
  cursor: pointer;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}

.skill-name h4 {
  line-height: 30px;
}

.skill-image,
.stat-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
  margin-right: 5px;
}

.sheet form {
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sheet .sheet-content .editor {
  height: 100%;
}

#statuses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
