.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: scale(-1);
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
